@import "syle.css" style-1;

#logo {
    width: 50%;
    height: 50%;
    padding: 20px 20px 20px 20px;
}

#left {
    position: fixed;
    left: 1%;
}

#right {
    position: fixed;
    right: 1%;
}

.center {
    position: fixed;
    margin-left: 35%;
    top: 35%;
}

.header {
    top: 0;
    width: auto;
    height: 42px;
    border-bottom: 1px solid #C5CAE9;
}

.footer {
    bottom: 3%;
    width: auto;
    position: fixed;
    border-style: solid;
}

body {
    
}

a {
    color: #3F51B5;
    text-decoration: none;
}

input {
    font-size: 18px;
    color: #006064;
    display: block;
    padding: 10px 10px 10px 5px;
    width: 55%;
    border: none;
    border-bottom: 1px solid #757575;
}

input[type=submit] {
    background-color: #B2EBF2;
}

input:focus { 
    outline: none;
}